<a href="#" onmouseover="hoverimg.src='newpost_hover.gif';" onmouseout="hoverimg.src='icon_newthread.gif';">

<img src="icon_newthread.gif" border="0" width="115" height="26" name="hoverimg"></a>


&nbsp;

<a href="#" onmouseover="hoverimg2.src='quotepost_hover.gif';" onmouseout="hoverimg2.src='quotepost.gif';">

<img src="quotepost.gif" border="0" width="115" height="26" name="hoverimg2"></a>

&nbsp;

<a href="#" onmouseover="hoverimg3.src='deletepost_hover.gif';" onmouseout="hoverimg3.src='deletepost.gif';">

<img src="deletepost.gif" border="0" width="115" height="26" name="hoverimg3"></a>

&nbsp;

<a href="#" onmouseover="hoverimg4.src='search_hover.gif';" onmouseout="hoverimg4.src='search.gif';">

<img src="search.gif" border="0" width="115" height="26" name="hoverimg4"></a>